{% extends 'layoutiep.html.twig' %}

{% block title %}SYGDOB| TABLEAU DE BORD  IEPP{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <!-- Column -->

            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body" >
                        <h3 class="card-title">Nos écoles </h3>
                        <h6 class="card-subtitle">Afficher la liste des élèves d'une école</h6>
                        <form  action="{{ path('sygdob_redirecttablestudentbyschooliep') }}" method="post" >


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ti-home"></i></span>
                                </div>
                                {{ form_widget(form.schoolname,{'attr': {'class': 'select2 form-control custom-select'}}) }}
                                <div class="input-group-append">
                                    <button class="btn btn-success">Ok</button>
                                </div>
                            </div>





                        </form>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Elève </h3>
                        <h6 class="card-subtitle">Rechercher un élève par son matricule</h6>
                        {% for message in app.flashes('error')  %}
                            <div class="alert alert-danger"> {{ message }}</div>
                        {% endfor  %}
                        {% for message in app.flashes('success')  %}
                            <div class="alert alert-success"> {{ message }}</div>
                        {% endfor  %}

                        <form  action="{{ path('sygdob_redirecttablestudentbymatiep') }}" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ti-user"></i></span>
                                </div>
                                {{ form_widget(form2.id,{'attr': {'placeholder': 'Entrer le matricule ','class': 'form-control'}}) }}


                                <div class="input-group-append">
                                    <button class="btn btn-success">Ok</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Elève </h3>
                        <h6 class="card-subtitle">Rechercher un élève par son nom ou prénoms</h6>
                        {% for message in app.flashes('successname')  %}
                            <div class="alert alert-success"> {{ message }}</div>
                        {% endfor  %}
                        <form action="{{ path('sygdob_redirecttablestudentbynameiep') }}" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ti-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Entrer le nom ou le prénom "
                                       name="stdname">
                                <div class="input-group-append">
                                    <button class="btn btn-success">Ok</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
        <!-- Row -->

    </div>


{% endblock %}
