{% extends 'layoutdobinfo.html.twig' %}

{% block title %}SYGDOB| Point des Saisies{% endblock %}

{% block body %}
    <div class="container-fluid">






        <!-- complex headers -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">POINT DES SAISIES DES VOEUX D'AFFECTATION EN 6<sup>ème</sup>  </h4>

                        <div class="table-responsive">
                            <table id="complex_header" class="table  table-bordered display text-center "
                                   style="width:100%">
                                <thead class="bg-info text-white">
                                <tr>
                                    <th rowspan="2">Base de candidats </th>
                                    <th colspan="3">Effectif Elèves</th>
                                    <th rowspan="2">Effectif Elèves avec Voeux Saisis</th>
                                    <th rowspan="2">Taux de Saisies</th>
                                    <th rowspan="2">Détails par DRENETFP</th>
                                </tr>
                                <tr>
                                    <th>Filles</th>
                                    <th>Garçons</th>
                                    <th>Total</th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-dark bg-light-success">
                                    <td>Nationale</td>
                                    <td>{{ nbstdf }}</td>
                                    <td>{{ nbstdm }}</td>
                                    <td>{{ nbstd }}</td>
                                    <td>{{ nbstdwish }}</td>

                                    <td>{{ taux }}</td>
                                    <td><a href="{{ path('sygdob_tablerecapwishbydren') }}" type="button"
                                                class="btn waves-effect waves-light btn-warning text-center"><i class="fa fa-search-plus"></i>Voir</a></td>


                                </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
{% endblock %}
