<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}SYGDOB-Création de Compte{% endblock %}</title>
    {% block stylesheets %}




        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/content/images/favicon.ico') }}">
        <title>Monster admin Template - The Ultimate Multipurpose admin template</title>
        <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
        <!-- Custom CSS -->
        <link href="{{ asset('build/css/style.min.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}

</head>

<body>
{% block body %}

{% endblock %}
<!-- ============================================================== -->

{% block javascripts %}


    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{{ asset('build/content/libs/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('build/content/libs/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('build/content/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>



    <!-- apps -->
    <script src="{{ asset('build/js/app.min.js') }}"></script>
    <script src="{{ asset('build/js/app.init.horizontal.js') }}"></script>
    <script src="{{ asset('build/dist/js/app-style-switcher.horizontal.js') }}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{{ asset('build/content/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('build/content/extra-libs/sparkline/sparkline.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('build/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('build/js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('build/js/custom.min.js') }}"></script>




    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>

{% endblock %}

</body>

</html>